# This is an example of the .env file
# Copy this file to .env and fill in the values
# with your own configuration.
# You can use the command `cp .env.example .env` to create the .env file
# and then edit it with your own values.

# DB_PORT=puerto de tu base de datos
DB_PORT=
# DB_HOST=host de tu base de datos
DB_HOST=
# DB_USER=usuario de tu base de datos
DB_USER=
# DB_PASSWORD=contraseña de tu base de datos
DB_PASSWORD=
# DB_NAME=nombre de tu base de datos
DB_NAME=
# API_PORT=puerto de tu API
API_PORT=