<!DOCTYPE html>

<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Link a hoja css del autor -->
  <link rel="stylesheet" href="../assets/css/styles.css">
  <!-- Link de Bootstrap-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <title>MFGA🌎</title>
</head>



<body>
  <div class="wrapper">
    <aside>
      <header>
        <!-- Lista de elementos que recorren la página a lo tag menu + logo -->
        <h1 class="logo">
          MFGA 🌎
        </h1>
      </header>
      <div>
        <nav class="navbar">
          <ul>
            <li>
              <a class="boton-menu volver-inicio" href="./Index.html">
                <i class="bi bi-airplane"></i>
                <!--Home-->
                Volver al Inicio
              </a>
            </li>
            <li>
              <a href="./Contact.html" class="active boton-menu"><i class="bi bi-envelope-fill"></i>
                Contacto
              </a>
            </li>
            <li>
              <a href="./Register.html" class="boton-menu">
                <i class="bi bi-compass"></i>
                <!--Va hacia Register.html -->
                Registrate
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer">
        <!-- Footer con info adicional-->
        <footer>
          <p>
            © My Fellow Guide Argentina - 2024
          </p>
        </footer>
      </div>

    </aside>


    <main>

      <div class="img-derecha">
        <img class="refe-img" src="../assets/img/feriaMataderos.jpg" alt="">
      </div>
      
      <div class="seccion-playstore">
        <p class="texto-contacto">Podes descargar nuestra APP para Android desde la Playstore
          <button class="boton-store">
            <i class="bi bi-android2"></i>
            MFGA APP - Android
          </button>
        </p>
        <!-- Hay que poner la iconografía de la playstore y que al hacer click redirija a la misma -->
      </div>

      <div class="seccion-appstore">
        <p class="texto-contacto">Tambien tenes la aplicación disponible en la App Store
          <button class="boton-store">
            <i class="bi bi-apple"></i>
            MFGA APP - iOS
          </button>
        </p>
      </div>

      <div class="seccion-mailto">
        <p class="texto-contacto">
          Si tenes alguna duda podes escribirnos a nuestra direccion de <a class="mailto"
            href="mailto: gonzaa.acero@gmail.com">
            <i class="bi bi-envelope-fill"></i>
            E-mail - Equipo MFGA🌎
          </a>
        </p>

      </div>


    
       
     
    </main>

    <!-- Scripts JS -->
    <script src="./js/main.js"></script>

</body>



</html>