<!DOCTYPE html>

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Link a hoja css del autor -->
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <!-- Link de Bootstrap-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <title>MFGA🌎</title>
  </head>

  <body>
    <div class="wrapper">
      <aside>
        <header>
          <h1 class="logo">MFGA 🌎</h1>
        </header>
        <div>
          <nav class="navbar">
            <ul>
              <li>
                <button class="active boton-menu">
                  <i class="bi bi-airplane-fill"></i>
                  <!--Home-->
                  Inicio
                </button>
              </li>
              <li>
                <button class="boton-menu">
                  <i class="bi bi-airplane"></i>
                  <!--Aboout-->
                  Conocenos
                </button>
              </li>
              <li>
                <button class="boton-menu">
                  <i class="bi bi-airplane"></i>
                  <!--Servicios/App-->
                  App MFGA
                </button>
              </li>
              <li>
                <button class="boton-menu">
                  <i class="bi bi-airplane"></i>
                  <!--Testimonios-->
                  Experiencias
                </button>
              </li>
              <li>
                <a href="./Contact.html" class="boton-menu">
                  <i class="bi bi-envelope"></i>
                  Contacto
                  <!--- Va hacia Contact.html --->
                </a>
              </li>
              <li>
                <a href="./Register.html" class="boton-menu boton register">
                  <i class="bi bi-compass"></i>
                  <!--Va hacia Register.html -->
                  Registrate
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer">
          <!-- Footer con info adicional-->
          <footer>
            <p class="texto-footer">© My Fellow Guide Argentina - 2024</p>
          </footer>
        </div>
      </aside>

      <main class="seccion-main">
        <div class="title">
          <h2>My Fellow Guide Argentina 🌎</h2>
        </div>

        <!--- Seccion de información de App + equipo --->
        <div class="seccion-info">
          <div class="detalle-info">
            <p>
              ¡Hola! somos Ani, Gonza y Sebas, los integrantes de My Fellow
              Guide. Desarrollamos esta app para solucionar el gran
              inconveniente que tienen muchos turistas a la hora de llegar a
              nuestro hermoso país, ¡Perderse! 😂. Buscamos que el turista
              utilizando nuestra app logre dar con los sitios de mayor interés
              de la Ciudad Autónoma de Buenos Aires (por ahora, pretendemos
              ampliar la app para todo el país 😉) encontrando las rutas más
              rápidas para llegar a dichos lugares con toda su información
              interesante y detallada. ¡Vamos a ver eso!
            </p>
          </div>
        </div>

        <div class="seccion-img">
          <div class="lugar-img-container">
            <img class="lugar-img" src="../assets/img/cabildo.jpg" alt="" />
          </div>
          <div class="detalle-img">
            <h3 class="titulo-img">El Cabildo</h3>
            <p class="barrio-img">
              Ciudad Autonoma de Buenos Aires, Barrio Monserrat
            </p>
          </div>

          <div class="lugar-img-container">
          <img class="lugar-img" src="../assets/img/caminito.jpg" alt="" />
          </div>
          <div class="detalle-img">
            <h3 class="titulo-img">Caminito</h3>
            <p class="barrio-img">
              Ciudad Autonoma de Buenos Aires, Barrio de la Boca
            </p>
          </div>

          <div class="lugar-img-container">
          <img class="lugar-img" src="../assets/img/obelisco.jpg" alt="" />
          </div>
          <div class="detalle-img">
            <h3 class="titulo-img">El Obelisco</h3>
            <p class="barrio-img">
              Ciudad Autonoma de Buenos Aires, Barrio San Nicolas
            </p>
          </div>

          <div class="lugar-img-container">
          <img
            class="lugar-img"
            src="../assets/img/feriaMataderos.jpg"
            alt=""
          />
        </div>
          <div class="detalle-img">
            <h3 class="titulo-img">La Feria de Mataderos</h3>
            <p class="barrio-img">
              Ciudad Autonoma de Buenos Aires, Barrio Mataderos
            </p>
          </div>
        </div>

        <div class="seccion-about">
          <!-- Seccion con info mas al detalle de la app-->
          <section>
            <p>(texto info mas detallada de la app)</p>
          </section>
        </div>
      </main>
    </div>

    <!-- Scripts JS -->
    <script src="./js/main.js"></script>
  </body>
</html>
